<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.9" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net452" />
  <package id="NHotkey" version="1.2.1" targetFramework="net452" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net452" />
</packages>